<header class="post-header">
    <a id="blog-logo" href="{{@site.url}}">
        {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="Blog Logo" />
        {{else}}
            {{@site.title}}
        {{/if}}
    </a>
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>