<a id="ghost-search-focus-anchor" />
<nav class="site-nav">
    <div class="site-nav-left">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    {{> "ghost-search-widget"}}
</nav>
